form {
  height: 400px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.origin, .destination {
  border-radius: 50px;
  font-size: 16px;
  grid-row: 1 / span 1;
  width: 400px;
  padding: 10px;
  margin: 25px;
  outline: none;
  border: .5px solid #c4d4e0;
}


ul {
  display: flex;
  width: 200px;
  text-align: center;
  justify-content: center;
  list-style: none;
}

li {
  padding: 50px;
}

.radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;     
  margin-right: 10px;
  outline: none;
}
.radio:checked::before {
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 11px;
  top: 7px;
  content: '\02143';
  transform: rotate(40deg);
}
.radio:hover {
  background-color: #193446;

}

.radio:checked {
  background-color: #c4d4e0;
}

label {
  font: 300 16px/1.7 'Open Sans', sans-serif;
  color: #666;
  text-align: center;
  cursor: pointer;
  position: relative;
  right: 150px;
  bottom: 50px;
} 

.submit-btn {
  position: relative;
  background-color: #c4d4e0;
  bottom: 200px;
  left: 950px;
  color: #666;
  font: 300 16px/1.7 'Open Sans', sans-serif;
  border: 0;
  width: 90px;
  height: 43px;
  border-radius: 50px;
}

.submit-btn:hover {
  outline: none;
  color: #ffffff;
  background-color: #193446;
}

.submit-btn:disabled {
  background: #f1f1f1;
  color: #666;
}
