form {
  height: 400px;
  padding: 40px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.origin, .destination {
  border-radius: 50px;
  background-color: #c4d4e0;
  position: relative;
  font-size: 16px;
  grid-row: 1 / span 1;
  width: 400px;
  padding: 10px;
  margin: 25px;
  outline: none;
  border: .5px solid #c4d4e0;
}

.origin:hover, .destination:hover {
  background-color: #ffffff;
  color: #193446;
}

ul {
  position: relative;
  bottom: 70px;
  background-image: url('../../utilities/images/clouds.svg'); 
  background-size: 200px;
  background-position: 0px 40px;
  background-repeat: no-repeat;
  display: flex;
  height: 420px;
  width: 400px;
  text-align: center;
  justify-content: center;
  list-style: none;
}

li {
  padding: 50px;
}

.radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  color: #666;
  bottom: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;     
  margin-right: 10px;
  outline: none;
}
.radio:checked::before {
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 11px;
  top: 7px;
  content: '\02143';
  transform: rotate(40deg);
}
.radio:hover {
  background-color: #193446;

}

.radio:checked {
  background-color: #c4d4e0;
}

label {
  font: 300 20px/1.7 'Open Sans', sans-serif;
  color: #666;
  text-align: center;
  cursor: pointer;
  position: relative;
  left: 310px;
  bottom: 50px;
} 

label:hover {
  color: #193446;
  font-weight: 200;
}

.submit-btn {
  position: relative;
  background-color: #c4d4e0;
  top: 300px;
  left: 315px;
  color: #666;
  font: 300 18px/1.7 'Open Sans', sans-serif;
  border: 0;
  width: 305px;
  outline: none;
  height: 43px;
  border-radius: 50px;
}

.submit-btn:hover {
  outline: none;
  color: #ffffff;
  background-color: #193446;
}

.submit-btn:disabled {
  background: #f1f1f1;
  color: #666;
}

.error {
  position: relative;
  color: red;
  right: 250px;
  font-size: 20px;
  opacity: 0;
}

.Not-valid {
  opacity: 1;
}

@media (max-width: 940px) {

ul {
  background-size: 150px;
  background-position: 50px 80px;
}

}

@media (max-width: 894px) {

.origin, .destination {
  width: 300px;
}

label {
  font: 300 18px/1.7 'Open Sans', sans-serif;
  left: 270px;
  bottom: 50px;
} 

.submit-btn {
  left: 275px;
}

}

@media (max-width: 760px) {

.origin, .destination {
  width: 200px;
}

label {
  font: 300 18px/1.7 'Open Sans', sans-serif;
  left: 220px;
  bottom: 50px;
} 

.submit-btn {
  left: 275px;
}
li {
  padding: 30px;
}

.submit-btn {
  left: 255px;
  width: 200px;
}

}

@media (max-width: 667px) {

.origin {
  grid-row: 1 / span 1;
}

.destination {
  grid-row: 2 / span 1;
}

.origin, .destination {
  width: 400px;
}

label {
  font: 300 18px/1.7 'Open Sans', sans-serif;
  left: 20px;
  bottom: 50px;
} 

.submit-btn {
  left: 275px;
}
li {
  padding: 30px;
}

.submit-btn {
  left: 155px;
  width: 200px;
}

ul {
  background: none;
}

}

@media (max-width: 492px) {

.origin, .destination {
  width: 400px;
}

label {
  font: 300 16px/1.7 'Open Sans', sans-serif;
  left: 5px;
  bottom: 50px;
} 


li {
  padding: 30px;
}

.submit-btn {
  left: 155px;
  width: 200px;
}

ul {
  background: none;
}

}

@media (max-width: 430px) {

.origin, .destination {
  width: 370px;
}

label {
  font: 300 15px/1.7 'Open Sans', sans-serif;
  left: 0px;
  bottom: 50px;
} 


li {
  padding: 20px;
}

.submit-btn {
  left: 140px;
  width: 200px;
}

ul {
  background: none;
}


}