.weather-section {
  display: grid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
/*  border: solid 1px;
  border-radius: 5%;*/
}

.weather-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather, .start-weather {
  margin-right: 40px;
  margin-bottom: 40px;
}

.redo {
  background-color: #c4d4e0;
  color: #666;
  font: 300 16px/1.7 'Open Sans', sans-serif;
  border: 0;
  outline: none;
  width: 100px;
  padding: 5px;
  height: 50px;
  border-radius: 50px;
}

.redo:hover {
  outline: none;
  color: #ffffff;
  background-color: #193446;
}

.result {
  display: block;
}

.new-search-btn { 
  margin-left: 200px;
  margin-bottom: 100px;
}