.weather-box {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}
.weather {
  position: relative;
  left: 527px;
  bottom: 105px;
}

.start-weather {
  margin-left: 35px;
  margin-top: 270px;
}

.weather-header {
  position: relative;
  top: 230px;
}

.redo {
  background-color: #c4d4e0;
  color: #666;
  font: 300 16px/1.7 'Open Sans', sans-serif;
  border: 0;
  outline: none;
  width: 100px;
  padding: 5px;
  height: 50px;
  border-radius: 50px;
}

.redo:hover {
  outline: none;
  color: #ffffff;
  background-color: #193446;
}

.icon {
  position: relative;
  top: 20px;
  height: 45px;
}

.new-search-btn {
  display: grid;
  justify-content: center;
}


@media (max-width: 1680px) {
  .weather {
  position: relative;
  left: 440px;
  bottom: 105px;
}

.start-weather {
  margin-left: 10px;
  margin-top: 270px;
}

} 

@media (max-width: 1580px) {
  .weather {
  position: relative;
  left: 420px;
  bottom: 105px;
}

.start-weather {
  margin-left: 1px;
  margin-top: 270px;
}

} 

@media (max-width: 1465px) {
  .weather {
  position: relative;
  left: 380px;
  bottom: 105px;
}

.start-weather {
  margin-left: 1px;
  margin-top: 270px;
}

} 

@media (max-width: 1415px) {
  .weather {
  position: relative;
  left: 350px;
  bottom: 105px;
}

.start-weather {
  margin-left: 1px;
  margin-top: 270px;
}

} 

@media (max-width: 1215px) {
  .weather {
  position: relative;
  left: 320px;
  bottom: 105px;
}

.start-weather {
  margin-left: 1px;
  margin-top: 270px;
}

} 


@media (max-width: 1190px) {
  .weather {
  display: inline-block;
  left: 0px;
  top: 0px;
}

.start-weather {
  position: flex;
  margin-left: 1px;
  margin-top: 270px;
}

}

@media (max-width: 1070px) {
  .mapping {
    width: 450px;
  }
  .weather {
  display: inline-block;
  left: 0px;
  top: 0px;
}

.start-weather {
  position: flex;
  margin-left: 1px;
  margin-top: 400px;
}

}

@media (max-width: 850px) {
  .mapping {
    width: 400px;
  }
  .weather {
  display: inline-block;
  left: 0px;
  top: 0px;
}

.start-weather {
  position: flex;
  margin-left: 1px;
  margin-top: 500px;
}

.weather-header {
 display: none;
}

}

@media (max-width: 758px) {

  .mapping {
    position: relative;
    right: 30px;
    width: 370px;
  }
  .weather {
    display: inline-block;
    left: 0px;
    top: 0px;
  }

.start-weather {
  position: flex;
  margin-left: 1px;
  margin-top: 500px;
}

.weather-header {
 display: none;
}
}

@media (max-width: 640px) {

.mapping {
  right: 100px;
}
.start-weather {
  grid-column: 1 / span 2;
  display: flex;
  margin-left: 180px;
  margin-top: 500px;
}
.weather {
  grid-column: 1 / span 2;
  display: flex;
  margin-left: 180px;
  }

.icon {
  position: relative;
  top: -38px;
  left: 100px;
  height: 45px;
}

.new-search-btn {
  position: relative;
  top: 300px;
  left: 150px;
}

}

@media (max-width: 569px) {

.start-weather, .weather {
  margin-left: 160px;
}

.new-search-btn {
  left: 160px;
}
}

@media (max-width: 459px) {

.start-weather, .weather {
  margin-left: 130px;
}

.new-search-btn {
  left: 100px;
}
}

@media (max-width: 430px) {

.start-weather, .weather {
  margin-left: 100px;
}

.new-search-btn {
  left: 60px;
}


}

