.weather-box {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}
.weather {
  position: relative;
  left: 527px;
  bottom: 105px;
}

.start-weather {
  margin-left: 35px;
  margin-top: 270px;
}

.weather-header {
  position: relative;
  top: 230px;
}

.redo {
  background-color: #c4d4e0;
  color: #666;
  font: 300 16px/1.7 'Open Sans', sans-serif;
  border: 0;
  outline: none;
  width: 100px;
  padding: 5px;
  height: 50px;
  border-radius: 50px;
}

.redo:hover {
  outline: none;
  color: #ffffff;
  background-color: #193446;
}

.icon {
  position: relative;
  top: 20px;
  height: 45px;
}

.new-search-btn {
  display: grid;
  justify-content: center;
}